.main_images
{
  width: 50%;
  margin: 30px;
}

.top_container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text{
  font-size: 20px;
  margin: 30px;
  text-align: center;
  line-height: 40px;
}
